.newTask {
    width: 80%;
    height: 680px;
    margin: 50px 0px 50px 0px;
    box-shadow: 0px 1px 2px 0px rgba(0, 255, 255, 0.7),
        1px 2px 4px 0px rgba(0, 255, 255, 0.7),
        2px 4px 8px 0px rgba(0, 255, 255, 0.7),
        2px 4px 16px 5px rgba(0, 255, 255, 0.7);
    border: solid 2px #064134;
    border-radius: 20px;
    /* overflow-y: auto; */
    color: rgb(0, 0, 0);
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    /* align-self: center; */
    /* left: 50%; */
    /* flex-wrap: nowrap; */
}
.ul {
    /* right: 50%; */
    margin: 20px 0px 10px 0px;
    width: 90%;
    min-height: 50px;
    padding: 0px 0px 0px 0px;
    /* margin: 0; */
    border: solid 1px rgba(0, 255, 255, 0.7);
    background: none;
    color: white;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    flex-direction: row;
    align-items: center;
    /* word-wrap: break-word; */
    /* flex-wrap: nowrap; */
}
.ul:hover {
    background: #000000f6;
}

.textStyle {
    width: auto;
    padding-left: 10px;
    align-self: center;
    font-size: 1.2rem;
    flex-basis: 95%;
    /* word-wrap: break-word; */
}

.empty {
    font-size: 1.2rem;
    width: 90%;
    height: 50px;
    padding: 0px 0px 0px 0px;
    /* margin: 0; */
    /* border: 1px solid; */
    color: white;
    /* display: flex; */
    /* border-radius: 10px; */
    /* flex-direction: row;
    align-items: center; */
    text-align: center;
}

.flexUl {
    width: 99%;
    height: 99%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    overflow-y: overlay;
}
